
.one{
    background-color: red;
    height: 40px;
}
.two{
    background-color: green;
    height: 40px;
}
.three{
    background-color: blue;
    height: 40px;
}
.four{
    background-color: yellow;
    height: 40px;
}
.five{
    background-color: purple;
    height: 40px;
}
.six{
    background-color: orange;
    height: 40px;
}

.seven{
    background-color: pink;
    height: 64px;
}